@model List<ManageUsersViewModel>

@{
    ViewBag.Title = "Manage users";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from Administrator role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="ManageUsers" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>