@model Tuple<IEnumerable<Animal>, string>;
@inject SignInManager<IdentityUser> signInManager;
@{
	ViewBag.Title = $"\"{Model.Item2}\" - Search result";
}

<section class="py-5 text-center container">
	<h1 class="fw-light">@ViewBag.Title</h1>
	@if (Model.Item1.Count() == 0)
	{
		<h1 class="lead">There are no results for the requested search</h1>
	}
</section>

<div class="row row-cols-1 row-cols-md-3 g-4">
	@foreach (var animal in Model.Item1)
	{
		<div class="col card p-0">

			<div class="card-header">
				<h3>@animal.Name</h3>
			</div>


			<img class="card-img-top my-auto" src="~/images/animalsImages/@(animal.PicturePath ?? "noimage.jpg")" />



			<p class="lead mx-auto">@animal.Description</p>

			<div class="card-footer text-center">
				<a class="btn btn-primary m-1" asp-action="Animal" asp-route-id="@animal.Id">View</a>
				@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
				{
					<a class="btn btn-primary m-1" asp-action="EditAnimal" asp-route-id="@animal.Id">Edit</a>
					<form class="d-inline" method="post" asp-action="DeleteAnimal" asp-route-id="@animal.Id">
						<button type="submit" class="btn btn-danger m-1">Delete</button>
					</form>
				}
			</div>
		</div>
	}
</div>